

.bar {
  fill: steelblue;
}


.axis {
  font: 13px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.label {
	fill: #FFF;
	font: 12px sans-serif;
}