

body {
	color: #333;
	font-family: aria, sans-serif;
}

h1 {
	font-family: Georgia, serif;
	margin: 4px 0;
}

p {
	margin: 4px 0;
}

.chart {
	width: 600px;
	height: 400px;
	position: relative;
}

.bar {
  fill: green;
}


.axis {
  font: 13px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.label {
	fill: #FFF;
	font: 12px sans-serif;
}

.tooltip {
	position: absolute;
	padding: 10px;
	border: 1px solid #999;
	background-color: white;
}